.Mars-header {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color: rgb(255, 159, 80);
}
body{
    background-image: url("https://i.natgeofe.com/n/f89dbd4b-7a18-4943-863f-c0e138b721dc/ngc-8gFQs1yVUiIXI9ngZRBUOm2FFc639YZg.jpg");
    background-color: black;
    background-size: cover;
    color: cornsilk;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

