* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Mars-header {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: rgb(255, 159, 80);
}
body{
    background-image: url("https://i.natgeofe.com/n/f89dbd4b-7a18-4943-863f-c0e138b721dc/ngc-8gFQs1yVUiIXI9ngZRBUOm2FFc639YZg.jpg");
    background-color: black;
    background-size: cover;
    color: rgb(255, 159, 80);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    text-align: center;
    margin: 30px;
}

.donations {
    background-color: white;
    border-radius: 5px;
    color: var(--secondary-color);
}

p {
    text-align: center;
    font-size: 40px;
}
.buttons {
    text-align: center;
}
.pics {
    border: 1px solid orange;
}
.text {
        width: 200px;
        height: 120px;
        color: orange;
        font-size: 16px;
        text-align: left;
        margin: 10px auto;
        font-family: 'Lato', sans-serif;
}
.roverClick {
	border: 2px solid rgb(235, 247, 9);
}
.photo-button {
	padding: 16px 20px;
	margin: 20px;
	font-size: 20px;
	border: 1px solid #FBB034;
	border-radius: 8px;
	background-color: #EF6B01;
	font-family: 'Lato', sans-serif;
}
#select-camera {
	text-decoration: none;
	text-align: center;
	width: 45%;
    margin: 5px auto;
    padding: 10px;
    font-size: 10px;
    color: #FBB034;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	justify-content: space-between;
	align-items: center;
}

#photo-enable img {
	width: 30%;
	margin: 5px;
	border: 1px solid #FBB034;
	border-radius: 8px;
	transition: transform 0.6s ease-in-out;
}
#slider {
	width: 90%;
	margin: 10px 0;
}